@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
/* font-family: 'Quicksand', sans-serif; */

/* pembayaran index */

.Pembayaran-head-atas{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 2px solid royalblue;
    /* justify-content: center; */
}

.box-bagian-atas{
    width: 50%;
    /* border: 1px solid red; */
    /* background-color: gree; */
}

.box-bagian-bawah{
    width: 50%;
    margin-left: 10px;
    border-left: 1px dashed rgba(0,0,0, 0.3);
    padding-left: 15px;
}

.Pembayaran-bagian-atas{
   
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

.judul-atas{
    flex-grow: 1;
    /* border: 1px solid slateblue; */
}

.tanggal{
    flex-grow: 1;
    /* border: 1px solid slateblue; */
    text-align: end;
}


/* studentDashboard */


#modal-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to bottom, #85FFBD, #FFFB7D);   
}

.class{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* details daftar nilai */

#top-nav{
    margin: 0px;
    padding: 0px;
}

#navbar-daftar-nilai{
    box-shadow: 2px 1px 10px 5px #888888;

}

#nav-hover:hover{
    border-bottom: 2px solid blue;
}

#page-title, #headTitle{
    font-family: 'Quicksand', sans-serif;
}

.content{
    overflow-x: scroll;
}

#headTitle{
    border: 1px solid gainsboro;
    border-radius: 5px 5px 0px 0px;
}





