
@media print{
    
    .alignMe b {
        display: inline-block;
        width: 40%;
        position: relative;
        padding-right: 10px; /* Ensures colon does not overlay the text */
    }
      
    .alignMe b::after {
    content: ":";
    position: absolute;
    right: 10px;
    }
    
    .headz{
        display: none;
    }
}